.poll {
  text-align: center;
  min-width: 290px;
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem;
  border: 1px solid #696969;
  border-radius: 4px;
}

#total-votes {
  background-color: #0051ff;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 0.2rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  float: right;
}

.poll-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #696c6e;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 4px;
}

.poll-item:hover {
  transition: 0.3s;
  background-color: #474747;
  border-color: white;
  color: white;
}
