@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  background-color: #1a1a1a;
  color: white;
}

.user-profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 80em;
  min-width: 290px;
  margin: 0 auto;
  background-color: #1a1a1a;
  color: white;
}

@media screen and (max-width: 1000px) {
  .user-profile {
    flex-direction: column;
    justify-content: stretch;
  }

  .sidebar {
    text-align: center;
    height: auto !important;
    width: 100% !important;
    margin: 0.5rem auto !important;
  }
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #979797;
  margin-bottom: 0.5rem;
  background-color: #1a1a1a;
  color: white;
  box-shadow: 2px 2px 2px 1px #ffffff22;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.nav-tab:hover {
  transition: 0.3s;
  background-color: #474747;
}

.sidebar {
  min-height: 100px;
  height: 90vh;
  min-width: 290px;
  width: 15vw;
  border: 1px solid #696969;
  border-radius: 4px;
  margin: 0.5rem;
  padding: 1rem;
}

.polls {
  width: 100%;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  padding-bottom: 1rem;
}

.poll {
  text-align: center;
  min-width: 290px;
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem;
  border: 1px solid #696969;
  border-radius: 4px;
}

#total-votes {
  background-color: #0051ff;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 0.2rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  float: right;
}

.poll-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #696c6e;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 4px;
}

.poll-item:hover {
  transition: 0.3s;
  background-color: #474747;
  border-color: white;
  color: white;
}

#poll-creator {
  text-align: left;
  margin: 1rem auto;
}

.form-title-container {
  display: flex;
  align-items: center;
}

.poll-form-option {
  border: 2px solid #696c6e;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 4px;
}

.poll-form-option:hover {
  transition: 0.3s;
  transform: scale(1.1);
  background-color: #e03516;
  border-color: white;
}

.poll-form-options {
  display: flex;
  flex-wrap: wrap;
}

.poll-form-option-creator {
  border: 2px solid #696c6e;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.form-input {
  background-color: #1a1a1a;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  outline: none;
  margin: 0.5rem;
  font-size: 0.9rem;
}

.create-poll-btn {
  background-color: #0051ff;
  color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 16px;
  margin: 1rem auto;
}

.create-poll-btn:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.sign-in-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #696c6e;
  border-radius: 4px;
  padding: 1rem;
}

#sign-in-btn {
  all: unset;
  text-align: center;
  background-color: #0051ff;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.2rem;
}

#id-input {
  margin: 0.5rem 0;
}

.error-txt {
  color: #f71b13;
  text-align: center;
  margin-bottom: 0.5rem;
}

.poll-list-sorter {
  border: 1px solid #696c6e;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  border-radius: 4px;
  color: white;
  background-color: #333;
}
